.sci-react-dialog {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;

    &.visible {
        // You'll need to have visibility: hidden or display none here. Since it's up to the developer, we didn't add it ourselves.
    }

    > .overlay {
        flex: 1 1 0px;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: auto;

        > .dialog {
            flex: 0 0 auto;
        }
    }
}