.sci-react-unstyled-button {
    background-color: transparent;
    border-radius: 0;
    box-sizing: content-box;
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    padding: 0;
    text-align: start;
}
